*{
    padding: 0;
    margin: 0;
}

body{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande';
}

.container{
    background-color: #0e1b2b;
    width: 100%;
    height: 100vh;
}
    .container .name h1{
        text-align: center;
        color: #ffff;
        top: 250px;
        position: relative;
    }
        .container .name a{
            position: relative;
            top: 300px;
            left: 490px;
            padding: 15px;
            margin: 10px;
            text-decoration: none;
            color: #fff;
            letter-spacing: 2px;
            background-color: transparent;
            border: 2px solid #4481eb;
            border-radius: 10px;
        }
